<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [5]:
# 入力用
import random
list = []
for i in range(5):
  strnum = str(2220000 + random.randrange(10,2800,10))
  list.append('b'+strnum)
print(list)

['b2220720', 'b2220770', 'b2220610', 'b2221040', 'b2222190']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [12]:
import numpy as np

def rdm():
    numlist = []
    while len(numlist) < 5:
        num = np.random.randint(1, 9)
        if num not in numlist:
            numlist.append(num)
    return numlist

list1 = rdm()
list2 = rdm()
sum_array = np.array(list1) + np.array(list2)

print(list1)
print(list2)
print(sum_array)

[1, 7, 8, 6, 4]
[5, 7, 3, 6, 8]
[ 6 14 11 12 12]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [10]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [28]:
# 入力用
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

import random
list4 = []
tdhk_list = []

def wakeru():
    sublist = []
    for i in range(4):
        m = random.randint(0, 46)
        s = todohuken_list[m]
        sublist.append(s)
    return sublist

for i in range(47 // 4 + 1):
    sublist = wakeru()
    tdhk_list.append(sublist)

print(tdhk_list)

[['岡山県', '京都府', '京都府', '秋田県'], ['岩手県', '東京都', '秋田県', '長野県'], ['山梨県', '和歌山県', '長野県', '香川県'], ['福島県', '長野県', '埼玉県', '神奈川県'], ['静岡県', '山形県', '静岡県', '大分県'], ['愛媛県', '熊本県', '山梨県', '滋賀県'], ['高知県', '茨城県', '愛媛県', '茨城県'], ['石川県', '香川県', '鳥取県', '愛媛県'], ['千葉県', '岐阜県', '島根県', '長野県'], ['山梨県', '青森県', '福岡県', '兵庫県'], ['群馬県', '茨城県', '長野県', '青森県'], ['埼玉県', '岐阜県', '山梨県', '福岡県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [4]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [3]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

sorted_list = sorted(university_list, key=lambda x: int(x.split(",")[1]))

print(university_list)
print(sorted_list)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [11]:
N = 100
jud_list = ['Fizz', 'Buzz', 'FizzBuzz', 'others']

def fb():
  for i in range(1, N + 1):
    if i % 3 == 0 and i % 5 == 0:
      print(i, jud_list[2])
    elif i % 3 == 0:
      print(i, jud_list[0])
    elif i % 5 == 0:
      print(i, jud_list[1])
    else:
      print(i, jud_list[3])

fb()

1 others
2 others
3 Fizz
4 others
5 Buzz
6 Fizz
7 others
8 others
9 Fizz
10 Buzz
11 others
12 Fizz
13 others
14 others
15 FizzBuzz
16 others
17 others
18 Fizz
19 others
20 Buzz
21 Fizz
22 others
23 others
24 Fizz
25 Buzz
26 others
27 Fizz
28 others
29 others
30 FizzBuzz
31 others
32 others
33 Fizz
34 others
35 Buzz
36 Fizz
37 others
38 others
39 Fizz
40 Buzz
41 others
42 Fizz
43 others
44 others
45 FizzBuzz
46 others
47 others
48 Fizz
49 others
50 Buzz
51 Fizz
52 others
53 others
54 Fizz
55 Buzz
56 others
57 Fizz
58 others
59 others
60 FizzBuzz
61 others
62 others
63 Fizz
64 others
65 Buzz
66 Fizz
67 others
68 others
69 Fizz
70 Buzz
71 others
72 Fizz
73 others
74 others
75 FizzBuzz
76 others
77 others
78 Fizz
79 others
80 Buzz
81 Fizz
82 others
83 others
84 Fizz
85 Buzz
86 others
87 Fizz
88 others
89 others
90 FizzBuzz
91 others
92 others
93 Fizz
94 others
95 Buzz
96 Fizz
97 others
98 others
99 Fizz
100 Buzz